{% extends "covid/base.html" %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block content %}
<section class="section">
	<div class="container">
		<div class="content">
			<h1 class="title">
				{{ user.get_full_name }}
			</h1>
			<div class="tile is-ancestor">
				<div class="tile is-parent">
					<div class="tile is-child box">
						Supplier Page
					</div>
				</div>
				<div class="tile is-parent">
					<div class="tile is-child box">
						Deliverer Page
					</div>
				</div>
				<div class="tile is-parent">
					<div class="tile is-child box">
						Requester Page
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}