{% extends "covid/base.html" %}

{% block title %}Covid Resource Matching{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="content">
            <h1>Supplier Dashboard</h1>
            <h2>Your supplies</h2>
            <p>TEST TEST TEST</p>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="content">
            <h2>Add supplies</h2>
            <p>TEST TEST TEST</p>
        </div>
    </div>
</section>
{% endblock %}